/*get rid of default padding and margin*/
*{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

header,nav,article,section,footer,aside{
	display:block;
}
/*centeriing website */
.container{
	width:100%;
	height:1500px;
	background-image:url(back2.jpg);
	background-repeat:no repeat;
	background-position:center;
}

.clear{
	clear:both;
}
.logo{
	height:100px;
	width:260px;
	float:left;
	margin:20px 20px;
}
.top_nav{
	float:left;
	width:800px;
	margin:0px 0px;
}

.top_nav ul li{
	float:left;
	padding:20px 20px;
	margin:40px 15px;
	text-align:center;
	border-radius:10px;
	background-image:linear-gradient(to top, #01DF01 20%,#00FF00 40%,#2EFE2E 100%);
}

/*float aside and main section*/
.left_side{
	float:left;
	width:60%;
	margin:0px 40px;
}

.left_side ul li{
	padding:10px 10px;
	margin-right:10px;
	text-align:justify;
}

.right_side{
	float:left;
	width:20%;
	margin:0px 20px;
	border:5px ridge blue;
	padding:10px;
	background-color:white;
	font-size:20px;
}

.left_side article{
	border:5px ridge blue;
	margin-right:10px;
	padding:10px;
	background-color:white;
	font-size:20px;
}
.left_side header{
	background-color:white;
	padding:20px 20px;
	border:8px ridge blue;
	margin:0px;
}
.left_side p{
	padding:10px 10px;
	text-align:justify;
}
.left_side span{
	color:green;
	text-decoration:underline;
}

.right_side div{
	border:2px solid blue;
	margin:0px 0px 10px 0px; /*top left bottom right*/
	padding:10px;
}
/*make footer clear floated elements*/
.page_footer{
	clear:both;
	text-align:center;
}