<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8"/>
  <title> tutorial 43- styling table </title>
  <link rel="stylesheet" href="new7.css"/>
  </head>
  <body>
  <div class="myclass">
     <table>
        <caption> <span>Security data of Building 1 </span></caption>
		<thead>
		<tr>
		<th> House-id </th>
		<th> Sensor-1 </th>
		<th> Sensor-2 </th>
		<th> System status </th>
		<th> Security status </th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td> 1101 </td>
		<td> Normal</td>
		<td> Normal</td>
		<td> Active </td>
		<td> Secure </td>
		</tr>
		
		<tr>
		<td> 1102 </td>
		<td> Normal</td>
		<td> Normal </td>
		<td> Active </td>
		<td> Secure </td>
		</tr>
		<tr>
		<td> 1103 </td>
		<td> Normal</td>
		<td> Break-in</td>
		<td> Active </td>
		<td> UNSECURE </td>
		</tr>
		
		<tr>
		<td> 1104 </td>
		<td> Normal</td>
		<td> Normal</td>
		<td> Disabled </td>
		<td> N.A </td>
		</tr>
		
		<tr>
		<td> 1105 </td>
		<td> Break-in</td>
		<td> Normal</td>
		<td> Active </td>
		<td> UNSECURE </td>
		</tr>
		
		</tbody>
		<tfoot>
		<tr>
		<td colspan=5> Newton's eye data security services </td>
		</tr>
		</tfoot>
     </table>
	 </div>
  </body>
</html>