<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8"/>
  <title> About us </title>
  <link rel="stylesheet" href="new2.css"/>
  </head>
  <body>
  
   <div class="container">
   <header> 
   <img src="eye1.jpg" alt="logo area" class="logo"/>
   <nav class="top_nav">
   <ul>
      <li> <a href="pr1.html">Homepage</a></li>
      <li> <a href="pr2.html">About us</a></li>
      <li> <a href="pr3.html">Our Mission</a></li>
      <li> <a href="pr4.html">Contact us</a></li>
      <li> <a href="pr5.html">Sign Up/Log in</a><li>
   </ul>
   </nav>
   <div class="clear">  </div>
   </header>
   
   <section class="left_side">
      <article>
         <header>
            <h2> The Newton's Eye - always vigilant and trusted </h2>
            <h3> <span> ABOUT US </span> </h3>
         </header>
		
		   <p> With advancement of Automation technology, life is getting simpler and easier in all aspects. In today’s world
		   Automatic systems are being preferred over manual system. With the rapid increase in the number of users of internet
		   over the past decade has made Internet a part and parcel of life, and IoT is the latest and emerging internet
		   technology. Internet of things is a growing network of everyday object-from industrial machine to consumer goods 
		   that can share information and complete tasks while you are busy with other activities. Wireless Security system 
		   using IoT is a system that uses computers or mobile devices to control basic home functions and features 
		   automatically through internet from anywhere around the world. It is meant to save the electric power and human 
		   energy. This Centralised system differs from other system by allowing the user to operate the system from anywhere
		   around the world through internet connection. </p>	
		   
		   <p> Buildings of the 21st century will become more and more self-controlled and automated due to the comfort it
		   provides, especially when employed in a private home. A home centralised security system is a means that allow users to 
		   control electric appliances of varying kind. Many existing, well-established security systems are based
		   on wired communication. This does not pose a problem until the system is planned well in advance and installed 
		   during the physical construction of the building. But for already existing buildings the implementation cost goes 
		   very high. In contrast, Wireless systems can be of great help for automation systems. With the advancement of wireless 
		   technologies such as Wi-Fi, cloud networks in the recent past, wireless systems are used every day and everywhere.</p>

		   <h1>Advantages of Centralised security systems </h1>
		   <p> 
		   In recent years, wireless systems like Wi-Fi have become more and more common in home networking. Also in home and 
		   building automation systems, the use of wireless technologies gives several advantages that could not be achieved 
		   using a wired network only.
           <ul>		   
		   <li> Reduced installation costs: First and foremost, installation costs are significantly reduced since no cabling is necessary. Wired solutions require 
		   cabling, where material as well as the professional laying of cables (e.g. into walls) is expensive.</li>
		   <li> System scalability and easy extension: Deploying a wireless network is especially advantageous when, due to new or 
		   changed requirements, extension of the network is necessary. In contrast to wired installations, in which cabling 
		   extension is tedious. This makes wireless installations a seminal investment. </li>
		   <li> Aesthetical benefits: Apart from covering a larger area, this attribute helps to full aesthetical requirements 
		   as well. Examples include representative buildings with all-glass architecture and historical buildings where 
		   design or conservatory reasons do not allow laying of cables. </li>
		   <li> Integration of mobile devices: With wireless networks, associating mobile devices such as PDAs and Smartphones 
		   with the automation system becomes possible everywhere and at any time, as a device's exact physical location is
		   no longer crucial for a connection (as long as the device is in reach of the network). For all these reasons, 
		   wireless technology is not only an attractive choice in renovation and refurbishment, but also for new 
		   installations.
		   </li>
		   </ul>
		   </p>
			   
		   <p> Feel free to <a href="pr4.html">contact us</a>. We are always ready to help you out with our services. </p>
		  
		   <footer>
		    - Written by Aakash upadhyay
		   </footer>
      </article>
   </section>
   
   <aside class="right_side">
   <div>
     <h2> Social links </h2>
	 <ul>
	     <li> <a href=""> Facebook </a> </li>
	     <li> <a href=""> Twitter </a> </li>
		 </ul>
   </div>
   <div>
   <h2> Related article </h2>
   <article>
   <header>
     <h3> This can be a heading another story </h3>
	 </header>
	 <p> Get intersted and click below to see more </p>
	 <footer>
	 <a href=""> See more </a>
	 </footer>
   </article>
   </div>
   </aside>
   
     <footer class="page_footer">
     &copy; Copywrite newtoneye.com
    </footer>
   </div>
  </body>
</html>