<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8"/>
  <title> About us </title>
  <link rel="stylesheet" href="tes.css"/>
  </head>
  <body>
   <div class="container">
   <header> 
   <img src="eye.png" alt="logo area" class="logo"/>
   <nav class="top_nav">
   <ul>
   <li> <a href="pr1.html">Homepage</a></li>
   <li> <a href="pr2.html">About us</a></li>
   <li> <a href="pr3.html">Our Mission</a></li>
   <li> <a href="pr4.html">Contact us</a></li>
   <li> <a href="pr5.html">Sign Up/Log in</a><li>
   </ul>
   </nav>
   <div class="clear">  </div>
   </header>
   
   <section class="left_side">
      <article>
         <header>
            <h2> The Newton's Eye - always vigilant and trusted </h2>
			<h3> Log in </h3>
         </header>
		   	<form action="" method="">
			      <fieldset class="log_in">
	               <legend>LOG IN:</legend>
				   <p>
	                  <label for="username">Username:</label>
		              <input type="text" name="username" id="first_name" maxlength="10" size="10"/> 
	               </p>
				    <p>
	                  <label for="pass_word">Password:</label>
		              <input type="password" name="pass_word" maxlength="10" size="10"/> 
	               </p>
				   <p>
				   <input type="submit" value="submit"/>
				   </p>
				   </fieldset>
	        </form>
	    <p> Feel free to <a href="pr4.html">contact us</a>. We are always ready to help you out with our services. </p>
		   <footer>
		    - Written by Aakash upadhyay
		   </footer>
      </article>
   </section>
   
   <aside class="right_side">
   <div>
     <h2> Social links </h2>
	 <ul>
	     <li> <a href=""> Facebook </a> </li>
	     <li> <a href=""> Twitter </a> </li>
		 </ul>
   </div>
   <div>
   <h2> Related article </h2>
   <article>
   <header>
     <h3> This can be a heading another story </h3>
	 </header>
	 <p> Get intersted and click below to see more </p>
	 <footer>
	 <a href=""> See more </a>
	 </footer>
   </article>
   </div>
   </aside>
   
     <footer class="page_footer">
     &copy; Copywrite newtoneye.com
    </footer>
   </div>
  </body>
</html>